# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MVS 2019
*.sln
*.vcxproj*
/.vs
/Debug
/x64

/bin
/CMakeFiles

CMakeCache.txt
./Makefile
cmake_install.cmake
src/CMakeFiles/
installer/arch/src
installer/arch/pkg

# logger
*.log
*.tar.gz
*.gz

*.csv

*.config
/packages
*.db*

# Qt
.qt
/build*
/ui/ui.*
*.autosave

/include/